/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior: contain; /* Prevents scrolling the background while swiping */
  touch-action: auto; /* Ensures touch gestures work as expected */
}

.modal-content {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/src/assets/ScrapChefBG2.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
}

@media (max-width: 768px) {
  body {
    background-image: url('/src/assets/ScrapChefTabletBG.png');
    background-size: cover; 
    background-position: center; 
  }
}

@media (max-width: 480px) {
  body {
    background-image: url('/src/assets/ScrapChefMobileBG.png');
    background-size: cover; 
    background-position: center; 
  }
}

h1, h2, h3 {
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-list {
  overflow: hidden;
}


