/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior: contain; /* Prevents scrolling the background while swiping */
  touch-action: auto; /* Ensures touch gestures work as expected */
}

.modal-content {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Default font for the app */
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/src/assets/ScrapChefBG2.png');
  background-size: cover; /* Ensure the image covers the entire screen */
  background-repeat: no-repeat; /* Prevent tiling */
  background-attachment: fixed; /* Keep the background fixed during scrolling */
  background-position: center; /* Center the background image */
}

h1, h2, h3 {
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-list {
  overflow: hidden;
}





